<!DOCTYPE html>

<html>

<head>

<title>
Career Tracker
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<h1>
My Career Tracker
</h1>


<a href="/connect-gmail">
    <button>
        Connect Gmail
    </button>
</a>


<h2>
My Applications
</h2>


<table>


<tr>

<th>
Company
</th>

<th>
Role
</th>

<th>
Applied Date
</th>

<th>
Link
</th>

</tr>


<tr>

<td>
Google
</td>

<td>
AI Intern
</td>

<td>
31 July 2026
</td>

<td>
Google Careers
</td>


</tr>


</table>


</body>

</html>